.root {
    -fx-background-image: url("file:../algo3_tp2/src/main/java/edu/fiuba/algo3/aplicacion/imagenes/fondo.jpg");
    -fx-background-size: cover;
    -fx-color: #FEFEFD;
    -fx-text-inner-color: #000000;
    -fx-font-size: 20pt;
}

.button{
    -fx-padding: 20px 20px;
    -fx-outline: none;
    -fx-border-insets: 30px;
    -fx-background-insets: 30px;
    -fx-border-color: #837D3C;
    -fx-border-width: 5px;
    -fx-background-color: #837D3C;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-border-color: #000000;
}

.label {
    -fx-text-fill: #000000;
}

.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#contenedorMovimientos .button {
    -fx-padding: 5px 5px;
    -fx-border-insets: 30px;
    -fx-background-insets: 30px;
}

#puntuaciones {
    -fx-font-size: 40pt;
}